@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

.top-padding{
    padding-top: 2rem;
}

body{
    background-color: #f3f3f3;
}

.ng-invalid{
    border-color: red;
}

a{
    cursor: pointer; 
}
